/* https://www.youtube.com/watch?v=P3W7MZ3JkyA */
.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: #4d06f5;
    color: black;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.logout,
.newPlaylist,
.myPlaylist {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}