body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.outterContainer{
  background-color: white
}

.playlistsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-content: center;
}

.playlist {
  border: 1px solid black; 
  border-radius: 3px;
  background-color: rgb(168, 100, 237);
  width: 15%;
  margin: auto;

}

.form {
  display: flex;
  flex-direction: column;
}

.form > input {
  display: flex;
  flex-direction: column;
}

.usernameSpan{
  display: flex;
  justify-content: space-around;
  margin: 3px;
}
.usernameInput,
.playlistNameInput,
.playlistTagsInput{
  margin-left: 4px;
}

span {
  margin-right: auto;
}

.createPlaylistButton{
  align-content: center;
  text-align: center;
  margin-top: 2vw;
  margin-left: 50%;
  margin-right: 50%;
}

.createPlaylistButton:hover{
  color: lightgray;
  background-color: mediumseagreen;
}
.deleteButton:hover {
  background-color: red;
}
.deleteButton:hover {
  color: red;
}



@media screen and (max-width: 780px) {
  .playlistsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .playlist {
    width: 100%;
  }
  .form{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form > input {
    width: 50%;
    margin-top: 1px;
  }

  

}